@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

#home {
  font-family: 'Noto Sans TC', sans-serif;
}

.global-nav {
  background-color: #000;
  width: 100%;
  max-height: 44px;
}

.global-nav-content {
  margin: 0 auto;
  max-width: 1170px;
}

#logo {
  font-size: 1.2em;
  font-weight: bolder;
}

.container section:not(:first-child) {
  border-top: 2px solid #d6d6d6;
  margin-top: 50px;
}

.banner-image {
  margin: 50px auto 50px auto;
  text-align: center;
}

#iphone-gif {
  position: relative;
  top:20px;
  width: 20%;
  margin-right: 20px;
}

#ipad-gif {
  width: 70%;
}


img {
  width: 100%;
  max-width: 800px;
}
.banner-description {
  margin: 0 auto;
  text-align: center;
}
.banner-description h2 {
  font-family: serif;
  font-size: 28px;
}

.banner-description-side {
    /* 絕對定位，位置依 media 不同而不同 */
    margin: 0 auto;
    text-align: center;
}
.banner-description-side h2 {
  font-family: serif;
  font-size: 28px;
  margin-bottom: 20px;
}
.banner-description-side p {
  font-family: serif;
  font-size: 16px;
}

.branding {
  position: relative;
}

.banner-action {
  margin: 20px auto;
  text-align: center;
}

.next-button {
  width: 200px;
  background-color: #000;
  color: #fff
}

.btn-submit {
  width: 200px;
  font-size: 18px;
}

.how-to {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.round-shape {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #000;
  line-height: 200px;
  color: #000;
  text-align: center;
  font-size: 28px;
  background-color: #fff;
  transition: 0.5s;
}
.round-shape:hover {
  background-color: #000;
  color: #fff;
}

footer {
  margin:  0 auto;
  padding-bottom: 100px;
  text-align: center;
  border-top: 2px solid #d6d6d6;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}
/* Float the list items side by side */
ul.topnav li{
  float: left;
}
ul.topnav li:first-child {
  margin-right: 30px;
}
ul.topnav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 15px;
}
ul.topnav li a:hover {
  background-color: #333;
}
ul.topnav li.icon {
  display: none;
}
.section.pricing {
  margin: auto;
  text-align: center;
  padding: 100px;
}

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display:none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  /* The "responsive" class is added */
  ul.topnav.responsive {
    position: relative;
    z-index: 99;
  }
  ul.topnav.responsive li.icon {
    position: absolute;;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .global-nav-content {
    width: 750px;
  }
  .banner-description-side {
    position: static;
  }
  .banner-description h2, .banner-description-side h2 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .global-nav-content {
    width: 970px;
  }

  .banner-description-side {
    top: 90px;
    left: 660px;

  }
  .banner-description h2, .banner-description-side h2  {
    font-size: 42px;
  }
  .round-shape {
    margin: 15px;
  }
  #iphone-gif {
    position: relative;
    top:60px;
    width: 18%;
    margin-right: 20px;
    /*display:inline-block;*/
  }
  #ipad-gif {
    width: 70%;
    /*display:inline-block;*/
  }

}



@media (min-width: 1200px) {
  .global-nav-content {
    width: 1170px;
  }
  .banner-description-side {
    top: 90px;
    left: 750px;
  }
  .banner-description h2, .banner-description-side h2  {
    font-size: 48px;
  }
  .banner-description-side p {
    font-size: 24px;
  }

  section.branding, section.product-details, section.social-media {
    position: relative;
  }
  section.branding .banner-image, section.social-media .banner-image {
    position: relative;
    left: -160px;
  }
  section.branding .banner-description-side, section.social-media .banner-description-side {
    position: absolute;;
    top: 90px;
    left: 700px;
    margin: 0 auto;
    text-align: left;
  }

  .round-shape {
    margin: 30px;
  }
  #iphone-gif {
    position: relative;
    top:70px;
    width: 18%;
    margin-right: 20px;
    /*display:inline-block;*/
  }
  #ipad-gif {
    width: 70%;
    /*display:inline-block;*/
  }



}
